:root{
  font-size:3vw;
}

/* 2d background */
.grid{
  position:absolute;
  bottom: -30%;
  left:0;
  margin-left: -50%;
  width: 200%;
  height: 100%;
  background-position-y: 0px;
  background-image:
        repeating-linear-gradient(90deg,var(--grid-color,black) 0%,transparent calc(1px + var(--grid-blur,0px)), transparent var(--grid-size),var(--grid-color,black) calc(var(--grid-size) + 1px + var(--grid-blur,0px))),repeating-linear-gradient(180deg,var(--grid-color,black) 0%,transparent calc(1px + var(--grid-blur,0px)), transparent var(--grid-size),var(--grid-color,black) calc(var(--grid-size) + 1px + var(--grid-blur,0px)));
  transform:perspective(50vh) rotateX(60deg) translateZ(10px);
  animation:moving-grid 0.5s infinite linear;
  z-index:-2;
}

@keyframes moving-grid{
  0%{
    transform:perspective(50vh) rotateX(60deg) translateZ(10px) translateY(-var(--grid-size));
  }
  100%{
    transform:perspective(50vh) rotateX(60deg) translateZ(10px) translateY(var(--grid-size));
  }
}


.sun{
  z-index: 10;
  width:49vh;
  height:49vh;
  border-radius:100%;
  position:absolute;
  background-color:yellow;
  left:calc(50%);
  bottom:35%;
  transform:translateX(-50%);
  background-image: linear-gradient(rgb(250, 37, 161),rgb(187, 95, 71)),linear-gradient(black,white);
  clip-path:polygon(-50% 0px,150% -50%,150% 55%,-50% 55%,
                    -50% 62%,150% 62%,150% 70%,0 70%,
                    -50% 75%,150% 75%,150% 80%,0 80%,
                    -50% 82%,150% 82%,150% 85%,0 85%,
                    -50% 87%,150% 87%,150% 90%,0 90%,
                    -50% 92%,150% 92%,150% 95%,0 95%,
                    -50% 96%,150% 96%,150% 150%,0 150%);
    box-shadow: rgba(228, 140, 198, 0.7) 0px 0 53px;
    
}

.building{
    z-index: 40;
    position:absolute;
    content:'';
    bottom:34%;
    left:calc(50% + var(--building-offset));
    border-bottom:var(--building-height) solid rgb(37, 37, 37);
    border-right:var(--building-base) solid rgb(37, 37, 37);
    transform-origin:bottom;
}

.buildingDetail{
  z-index: 40;
  position:absolute;
  content:'';
  bottom:var(--detail-bottom);
  left:calc(50% + var(--detail-offset));
  border-bottom:var(--detail-height) solid var(--detail-color);
  border-right:var(--detail-base) solid var(--detail-color);
  transform-origin:bottom;
  transform:skewX(var(--detail-tilt,0deg));
}

.detailRoof{
  z-index: 40;
  position:absolute;
  content:'';
  bottom:var(--detail-bottom);
  left:calc(50% + var(--detail-offset));
  border-left:calc(var(--detail-base) / 2) solid transparent;
  border-bottom:var(--detail-height) solid var(--detail-color1,rgb(37, 37, 37));
  border-top:0px solid transparent;
  border-right:calc(var(--detail-base) / 2) solid transparent;
  transform-origin:bottom;
  transform:skewX(var(--detail-tilt,0deg));
}

.window{
  z-index: 50;
  position:absolute;
  content:'';
  bottom:var(--window-bottom);
  left:calc(50% + var(--window-offset));
  border-bottom:var(--window-height) solid var(--window-color);
  border-right:var(--window-base) solid var(--window-color);
  transform-origin:bottom;
}

.mountainFront{
  z-index:var(--mountain-layer);
  position:absolute;
  content:'';
  bottom:var(--mountain-bottom);
  left:calc(50% + var(--mountain-offset));
  border-left:calc(var(--mountain-base) / 2) solid transparent;
  border-bottom:var(--mountain-height) solid var(--mountain-color1,rgb(3, 3, 3));
  border-top:0px solid transparent;
  border-right:calc(var(--mountain-base) / 2) solid transparent;
  transform-origin:bottom;
  transform:skewX(var(--mountain-tilt,0deg));
}

.mountainFrontDetail{
  z-index:var(--mountain-layer);
  position:absolute;
  content:'';
  bottom:var(--mountain-bottom);
  left:calc(50% + var(--mountain-offset));
  border-left:calc(var(--mountain-base) / 2) solid transparent;
  border-bottom:var(--mountain-height) solid var(--mountain-color1,rgb(3, 3, 3));
  border-top:0px solid transparent;
  border-right:calc(var(--mountain-base) / 2) solid transparent;
  transform-origin:bottom;
  transform:skewX(var(--mountain-tilt));
}

.mountainFrontDetail-skewY{
  z-index:var(--mountain-layer);
  position:absolute;
  content:'';
  bottom:var(--mountain-bottom);
  left:calc(50% + var(--mountain-offset));
  border-left:calc(var(--mountain-base) / 2) solid transparent;
  border-bottom:var(--mountain-height) solid var(--mountain-color1,rgb(3, 3, 3));
  border-top:0px solid transparent;
  border-right:calc(var(--mountain-base) / 2) solid transparent;
  transform-origin:bottom;
  transform:skewY(var(--mountain-tilt,0deg));
}

.background-80s{
  background: linear-gradient(to bottom, #4580ee 0,#071249 24%,#a458d6 45%,#f309df 60%,#a914c7 65%,#020a3b 65%) fixed;
  background-size:100% var(--background-height,100vh);
  overflow:hidden;
  position:absolute;
  left:0;
  top:0;
  width:100vw;
  height:var(--background-height,100vh);
  z-index:-2;
}

.background-80s:before{
  content:'';
  background: linear-gradient(to bottom, #010310 0,#12c2aa 24%,#cfcad1 45%,#133535 60%,#0eaeb9 65%,#1fbbd6 65%) fixed;
  width:100%;
  height:55%;
  position:absolute;
  z-index:-1;
  left:0;
  top:0;
  opacity:0.2;
}

/*stars*/
.stars:after{
  z-index: 5;
  transform:translateY(-40%);
  content:' ';
  border-radius:100%;
  width:3px;
  height:4px;
  position:absolute;
  left:0;
  top:0;
  box-shadow: 
    5vw 15vh 2px white,
    1vw 33vh 0px white,
    2vw 25vh 2px white,
    10vw 10vh 2px white,
    12vw 20vh 0px white,
    30vw 15vh 2px rgb(245, 195, 195),
    16vw 5vh 2px white,
    24vw 10vh 0px rgb(255, 255, 255),
    32vw 40vh 0px white,
    33vw 35vh 2px white,
    12vw 38vh 2px rgb(13, 193, 238),
    24vw 10vh 0px white,
    33vw 5vh 2px white,
    20vw 10vh 0px white,
    80vw 10vh 2px rgb(20, 201, 247),
    62vw 20vh 0px white,
    60vw 15vh 2px rgb(245, 243, 141),
    70vw 7vh 0px white,
    65vw 35vh 2px white,
    64vw 10vh 0px white,
    85vw 2vh 0px white,
    92vw 40vh 0px rgb(240, 237, 220),
    17vw 34vh 2px rgb(245, 97, 97),
    8vw 31vh 2px white,
    22vw 27vh 2px white,
    44vw 11vh 6px rgb(255, 0, 0),
    47vw 3vh 0px white,
    85vw 22vh 2px white,
    72vw 22vh 5px rgb(24, 209, 241),
    75vw 35vh 2px white,
    75vw 49vh 2px rgb(240, 111, 111),
    71vw 49vh 3px rgb(37, 134, 245),
    71.02vw 49vh 0px rgb(245, 64, 9),
    93vw 30vh 0px rgb(37, 134, 245),
    97vw 16vh 3px rgb(37, 134, 245);
  opacity: 0.9;
  animation:glitter 2s infinite;
}

@keyframes glitter{
  0% {
    opacity:0.5;
  }
  33% {
    opacity:0.9;
  }
  
  66% {
    opacity:0.4;
  }

  100% {
    opacity: .6;
  }

}

/* content */
.text{
  position:absolute;
  left:50%;
  top:50%;
  text-align:center;
  transform:translate(-50%,-50%);
  white-space:nowrap;
}

@keyframes shine{
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

.chrome:last-of-type .spark{
  animation-delay:-2.5s;
}

@keyframes blip {
    0% {transform: scale(0);}
    5% {transform: scale(1.2) rotate(0deg);}
    6% {transform: scale(1) rotate(0deg);}
    8% {transform: scale(1) rotate(180deg);}
    100% {transform: scale(1) rotate(180deg);}
  }

.content {
  z-index: 1;
  display: block;
  margin: 2% 10%;
  background: hsl(0 0% 0% / .5);
  
  color: rgb(238, 236, 236);
  font-size: 22px;
  font-weight: 900;
}

/*FOG FOG FOG*/
/*FOG FOG FOG*/
/*FOG FOG FOG*/

html, body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
body {
  position: absolute;
  background: #000;
  background: rgba(0, 0, 0, 1);
  overflow-x: hidden; 
}

/* ---------- Fog Images ---------- */
/* ---------- Fog Images ---------- */
/* ---------- Fog Images ---------- */

#foglayer_01, #foglayer_02, #foglayer_03 {
  z-index: -2;
  height: 66%;
  position: absolute;
  width: 200%;
}
#foglayer_03 {
  z-index: -2;
  height: 100%;
  position: absolute;
  width: 200%;
}

#foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}

#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  -moz-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
}
#foglayer_02, #foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  -moz-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
}

/* ---------- Fog Animation ---------- */
/* ---------- Fog Animation ---------- */
/* ---------- Fog Animation ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/ 
#foglayer_01 .image01, #foglayer_01 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png") center center/cover no-repeat transparent;
}
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02{
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png") center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% { opacity: .4; }
  22% { opacity: .5; }
  40% { opacity: .8; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@-moz-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .8; }
  58% { opacity: .4; }
  80% { opacity: .6; }
  100% { opacity: .1; }
}
@-o-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .8; }
  58% { opacity: .4; }
  80% { opacity: .6; }
  100% { opacity: .1; }
}
@keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .8; }
  58% { opacity: .4; }
  80% { opacity: .6; }
  100% { opacity: .1; }
}
/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@-moz-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@-o-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@-moz-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@-o-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@keyframes foglayer_03_opacity {
  0% { opacity: .8; }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@-moz-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@-o-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}

@media only screen
  and (min-width: 280px)
  and (max-width: 767px) {
    #foglayer_01 .image01, #foglayer_01 .image02,
    #foglayer_02 .image01, #foglayer_02 .image02 {
      z-index: -2;
      width: 100%;
      height: 50%;
    }
  }

/* -----CONTENT----- */
/* -----CONTENT----- */
/* -----CONTENT----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-content, .about-content, .services-content, .service-contact {
  font-size: 16px;
  position: absolute;
  font-family: 'Ubuntu', 'Courier New';
  color: white;
  text-align: center;
  background: hsl(0 0% 0% / .8); 
  border-radius: 35px;
}

.landing-content {
  width: 98vw;
  max-width: 650px;
  left:48%;
  top: 65%;
  transform:translateX(-50%);
  margin: 2% 2%;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 14px;
  padding-right: 14px;
}


.about-content {
  min-width: 98vw;
  max-height: 50vh;
  left:48%;
  bottom: 30%;
  transform:translateX(-50%);
  margin: 2% 2%;
  padding: 3% 3%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none; /* Firefox */
  
}

.about-content::-webkit-scrollbar {
  display: none;
}

.services-content {
  text-align: left;
  width: 98vw;
  max-width: 550px;
  max-height: 50vh;
  left:48%;
  bottom: 30%;
  transform:translateX(-50%);
  line-height: 2;
  margin: 2% 2%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 20px;

  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none; /* Firefox */
  
}

.services-content::-webkit-scrollbar {
  display: none;
}

.service-contact {
  width: 98vw;
  max-width: 320px;
  max-height: 40vh;
  left:50%;
  bottom: 25px;
  transform:translateX(-50%);
  padding: 5px 5px 5px 5px;
}

.service-contact a {
  color: #2467d9;
}

.contact-form {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background: hsl(0 0% 0% / .5);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  padding-top: 5px;
  width: 90%;
  height: 500px;
  max-width: 600px;
  border-radius: 35px;
}

form h3 {
  font-family: 'Press Start 2P', system-ui, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: 800;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 1%;
  text-align: center;
  padding-top: 15px;
}

form input, form textarea {
  flex-grow: 1;
  font-size: 16px;
  color: white;
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: hsl(0 0% 0% / .9);
  border-radius: 10px;
  resize: none;
}

form button {
  font-family: 'Press Start 2P', system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px;
  background: white;
  font-size: 18px;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 200px;
  margin: 5px auto 0;
  border-radius: 10px;
}

@media (max-width: 375px) {
  .contact-form {
    margin-top: 50px;
  }

  form h3 {
    font-size: 20px;
  }
}

@media (min-width: 950px) {

  .landing-content {
    font-size: 16px;
    padding-bottom: 18px;
  }

  .about-content {
    min-width: 80vw;
    max-height: 400px;
    padding: 25px;
  }

  .services-content {
    max-height: 70vh;
    top: 30%;
    bottom: 20%;
  }

  .service-contact {
    font-size: 16px;
    max-width: 430px;
    padding-bottom: 11px;
  }

  p {
    font-size: 16px;
  }

  .service-contact {
    font-size: 22px;
  }
}

@media (max-height: 700px) {

  .contact-form {
    margin-top: 5%;
  }

  form {
    height: 90%;
  }

  form input, form textarea {
  margin: 2px;
 }

 form button {
  font-size: 16px;
  height: 40px;
  width: 100px;
  margin-bottom: 5px;
 }
}


@media (max-height: 450px) {

  .services-content, .about-content {
    bottom: 15%;
  }

  .contact-form {
    height: 70%;
    margin-top: 0;
  }


  form h3 {
    font-size: 20px;
    padding-top: 5px;
  }

  form {
    
    overflow-y: scroll;
    margin-top: 0;
    padding-bottom: 1px;
    height: 100%;
  }

  form input, form textarea {
    font-size: 16px;
    height: 5px;
    margin: 1px;
    margin-left: -10px;
    margin-right: -10px;
  }

  form button {
    font-size: 16px;
    padding: 1px;
    padding-top: 4px;
    margin-bottom: 7px;
    width: 100px;
  }
}


@media (min-height: 451px) and (max-width: 950px) {
  .contact-form {
    height: 70%;
    margin-top: 15%;
  }
}



/* ----- on hover and other effects ----- */
/* ----- on hover and other effects ----- */
/* ----- on hover and other effects ----- */


/* navbar */

a > span {
  
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: rgb(20, 20, 20);
  background: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

a > span:before {
  content: '';
  background: linear-gradient(45deg, #ea2e99, #c62a84, #c25a60, #3c65b6, #00ffd5, #488cfe, #5a3e8d, #eb008b, #860061);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

a > span:active {
  color: none
}

a > span:active:after {
  background: transparent;
}

a > span:hover:before {
  opacity: 1;
}

a > span:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* contact form send button */
.on-hover {
  border: none;
  outline: none;
  color: rgb(20, 20, 20);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.on-hover:active {
  color: #000
}

.on-hover:active:after {
  background: transparent;
}

.on-hover:hover:before {
  opacity: 1;
}

.on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* input */

input:focus, textarea:focus {
  box-shadow: 0 0 5px #2467d9, inset 0 0 6px #3882ff, inset 0 0 7px #12346f;
  border: 1px solid #e7018a;
  /* border-color: linear-gradient(#ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/* ------NAVBAR----- */
/* ------NAVBAR----- */
/* ------NAVBAR----- */

/* accessibility */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* Primary Header */

.nav {
  overflow-x: hidden;
}

a > span {
  text-align: center;
  color: white;
  font-family: 'Press Start 2P', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 500;
}

a > span:hover {
  font-weight: 600;
}

.logo {
  display: block;
  margin: .5rem;
  z-index: 900;
  background-image: url('/assets/images/ArmorComputersLogo2022_NS.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 80px;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

/* remove's hamburger menu from DOM when not viewed on mobile*/
.mobile-nav-toggle, .mobile-nav-slide {
  display: none;
}

.primary-navigation {
  overflow-x: hidden;
  list-style: none;
  padding-top: 17px;
  padding-bottom: 9px;
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
  margin: 0;
  background: hsl(0 0% 0% / .5);
  border-radius: 35px 0px 0px 35px;
}

nav {
  margin-top: 15px;
}

.primary-navigation a {
  text-decoration: none;
}

/* blur not supported by FireFox */
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    backdrop-filter: blur(1rem);
  }
}

/* Galaxy Fold */

@media (max-height: 280px) {
  .logo {
    height: 40px;
    width: 90px;
    margin-left: 25px;
    margin-bottom: none;
  }
}


@media (max-width: 450px) {

  .nav {
    overflow-x: hidden;
  }
  
  .primary-navigation {   
    --gap: 3em;

    overflow-x: hidden;
    position: absolute;
    z-index: 1000;
    padding-top: 10vh;
    top: 0;
    bottom: 0;
    right: 0;
    background: hsl(0 0% 0% / .9);

    flex-direction: column;
    /* padding: min(10vh, 12rem) 5rem; */

    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;

  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background: url('/assets/images/whiteHam.png');
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 1rem;

  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url('/assets/images/Close-256.png');
    background-size: 25px;
    
  }
}

/* tablet or mobile-sideways */
@media (min-width: 450px) and (max-width: 950px) {

  .nav {
    overflow-x: hidden;
  }
  
  .primary-navigation {
    --gap: 2em;

    padding-top: 50px;
    padding-left: 10%;
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    background: hsl(0 0% 0% / .9);
    flex-direction: column;

    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;

  }


  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background: url('/assets/images/whiteHam.png');
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    border: 0;
    aspect-ratio: 1;
    top: 1rem;
    right: 1rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url('/assets/images/Close-256.png');
    background-size: 22px;
    
  }
}

/* Utilities */
.flex {
  display: flex;
  gap: var(--gap, 1rem)
}