@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
  font-size:3vw;
}

/* 2d background */
.grid{
  position:absolute;
  bottom: -30%;
  left:0;
  margin-left: -50%;
  width: 200%;
  height: 100%;
  background-position-y: 0px;
  background-image:
        repeating-linear-gradient(90deg,var(--grid-color,black) 0%,transparent calc(1px + var(--grid-blur,0px)), transparent var(--grid-size),var(--grid-color,black) calc(var(--grid-size) + 1px + var(--grid-blur,0px))),repeating-linear-gradient(180deg,var(--grid-color,black) 0%,transparent calc(1px + var(--grid-blur,0px)), transparent var(--grid-size),var(--grid-color,black) calc(var(--grid-size) + 1px + var(--grid-blur,0px)));
  transform:perspective(50vh) rotateX(60deg) translateZ(10px);
  animation:moving-grid 0.5s infinite linear;
  z-index:-2;
}

@keyframes moving-grid{
  0%{
    transform:perspective(50vh) rotateX(60deg) translateZ(10px) translateY(-var(--grid-size));
  }
  100%{
    transform:perspective(50vh) rotateX(60deg) translateZ(10px) translateY(var(--grid-size));
  }
}


.sun{
  z-index: -2;
  width:49vh;
  height:49vh;
  border-radius:100%;
  position:absolute;
  background-color:yellow;
  left:calc(50%);
  bottom:35%;
  transform:translateX(-50%);
  background-image: linear-gradient(rgb(255, 85, 7),rgb(233, 24, 170)),linear-gradient(black,white);
  clip-path:polygon(-50% 0px,150% -50%,150% 55%,-50% 55%,
                    -50% 62%,150% 62%,150% 70%,0 70%,
                    -50% 75%,150% 75%,150% 80%,0 80%,
                    -50% 82%,150% 82%,150% 85%,0 85%,
                    -50% 87%,150% 87%,150% 90%,0 90%,
                    -50% 92%,150% 92%,150% 95%,0 95%,
                    -50% 96%,150% 96%,150% 150%,0 150%);
    box-shadow: rgba(201, 160, 201, 0.7) 0px 0 23px;
    
}

.building{
    z-index: -1;
    position:absolute;
    content:'';
    bottom:34%;
    left:calc(50% + var(--building-offset));
    border-bottom:var(--building-height) solid rgb(37, 37, 37);
    border-right:var(--building-base) solid rgb(37, 37, 37);
    transform-origin:bottom;
}

.buildingDetail{
  z-index: -1;
  position:absolute;
  content:'';
  bottom:var(--detail-bottom);
  left:calc(50% + var(--detail-offset));
  border-bottom:var(--detail-height) solid var(--detail-color);
  border-right:var(--detail-base) solid var(--detail-color);
  transform-origin:bottom;
  transform:skewX(var(--detail-tilt,0deg));
}

.detailRoof{
  z-index:var(--detail-layer);
  position:absolute;
  content:'';
  bottom:var(--detail-bottom);
  left:calc(50% + var(--detail-offset));
  border-left:calc(var(--detail-base) / 2) solid transparent;
  border-bottom:var(--detail-height) solid var(--detail-color1,rgb(37, 37, 37));
  border-top:0px solid transparent;
  border-right:calc(var(--detail-base) / 2) solid transparent;
  transform-origin:bottom;
  transform:skewX(var(--detail-tilt,0deg));
}

.window{
  z-index: -1;
  position:absolute;
  content:'';
  bottom:var(--window-bottom);
  left:calc(50% + var(--window-offset));
  border-bottom:var(--window-height) solid var(--window-color);
  border-right:var(--window-base) solid var(--window-color);
  transform-origin:bottom;
}

.mountainFront{
  z-index:var(--mountain-layer);
  position:absolute;
  content:'';
  bottom:var(--mountain-bottom);
  left:calc(50% + var(--mountain-offset));
  border-left:calc(var(--mountain-base) / 2) solid transparent;
  border-bottom:var(--mountain-height) solid var(--mountain-color1,rgb(3, 3, 3));
  border-top:0px solid transparent;
  border-right:calc(var(--mountain-base) / 2) solid transparent;
  transform-origin:bottom;
  transform:skewX(var(--mountain-tilt,0deg));
}

.mountainFrontDetail{
  z-index:var(--mountain-layer);
  position:absolute;
  content:'';
  bottom:var(--mountain-bottom);
  left:calc(50% + var(--mountain-offset));
  border-left:calc(var(--mountain-base) / 2) solid transparent;
  border-bottom:var(--mountain-height) solid var(--mountain-color1,rgb(3, 3, 3));
  border-top:0px solid transparent;
  border-right:calc(var(--mountain-base) / 2) solid transparent;
  transform-origin:bottom;
  transform:skewX(var(--mountain-tilt));
}

.mountainFrontDetail-skewY{
  z-index:var(--mountain-layer);
  position:absolute;
  content:'';
  bottom:var(--mountain-bottom);
  left:calc(50% + var(--mountain-offset));
  border-left:calc(var(--mountain-base) / 2) solid transparent;
  border-bottom:var(--mountain-height) solid var(--mountain-color1,rgb(3, 3, 3));
  border-top:0px solid transparent;
  border-right:calc(var(--mountain-base) / 2) solid transparent;
  transform-origin:bottom;
  transform:skewY(var(--mountain-tilt,0deg));
}

.overlay{
  width:100%;
  height:100%;
  z-index:9999;
  position:absolute;
  left:0;
  top:0;
  background-image: repeating-linear-gradient(rgba(0,0,0,0.3) 0,transparent 1px,transparent 2px,rgba(0,0,0,0.3) 3px);
  pointer-events: none;
}

.background-80s{
  background: linear-gradient(to bottom, #4e2068 0,#2d3769 24%,#a458d6 45%,#980fce 60%,#532e5a 65%,#322636 65%) fixed;
  background-size:100% var(--background-height,100vh);
  overflow:hidden;
  position:absolute;
  left:0;
  top:0;
  width:100vw;
  height:var(--background-height,100vh);
  z-index:-2;
}

.animated-clouds:before{
  filter: url(#filter);
}

.background-80s:before{
  content:'';
  background: linear-gradient(to bottom, #010310 0,#12c2aa 24%,#cfcad1 45%,#133535 60%,#0eaeb9 65%,#1fbbd6 65%) fixed;
  width:100%;
  height:55%;
  position:absolute;
  z-index:-1;
  left:0;
  top:0;
  opacity:0.2;
}

/*stars*/
.stars:after{
  z-index: -3;
  transform:translateY(-40%);
  content:' ';
  border-radius:100%;
  width:3px;
  height:4px;
  position:absolute;
  left:0;
  top:0;
  box-shadow: 
    5vw 15vh 2px white,
    1vw 33vh 0px white,
    2vw 25vh 2px white,
    10vw 10vh 2px white,
    12vw 20vh 0px white,
    30vw 15vh 2px rgb(245, 195, 195),
    16vw 5vh 2px white,
    24vw 10vh 0px rgb(255, 255, 255),
    32vw 40vh 0px white,
    33vw 35vh 2px white,
    12vw 38vh 2px rgb(13, 193, 238),
    24vw 10vh 0px white,
    33vw 5vh 2px white,
    20vw 10vh 0px white,
    80vw 10vh 2px rgb(20, 201, 247),
    62vw 20vh 0px white,
    60vw 15vh 2px rgb(245, 243, 141),
    70vw 7vh 0px white,
    65vw 35vh 2px white,
    64vw 10vh 0px white,
    85vw 2vh 0px white,
    92vw 40vh 0px rgb(240, 237, 220),
    17vw 34vh 2px rgb(245, 97, 97),
    8vw 31vh 2px white,
    22vw 27vh 2px white,
    44vw 11vh 6px rgb(255, 0, 0),
    47vw 3vh 0px white,
    85vw 22vh 2px white,
    72vw 22vh 5px rgb(24, 209, 241),
    75vw 35vh 2px white,
    75vw 49vh 2px rgb(240, 111, 111),
    71vw 49vh 3px rgb(37, 134, 245),
    71.02vw 49vh 0px rgb(245, 64, 9),
    93vw 30vh 0px rgb(37, 134, 245),
    97vw 16vh 3px rgb(37, 134, 245);
  opacity: 0.9;
  animation:glitter 2s infinite;
}

@keyframes glitter{
  0% {
    opacity:0.5;
  }
  33% {
    opacity:0.9;
  }
  
  66% {
    opacity:0.4;
  }

  100% {
    opacity: .6;
  }

}

/* content */
.text{
  position:absolute;
  left:50%;
  top:50%;
  text-align:center;
  transform:translate(-50%,-50%);
  white-space:nowrap;
}
.outrun{
  
  font-family:'Road Rage';
  font-weight:normal;
  font-size: 50px;
}

/* .glow {
  
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} */


.chrome{
  font-family:"Montserrat";
  font-weight:900;
  font-size:calc(30px + 10vh);
  background-image:linear-gradient(#2989cc 0%, #d3e5ec 50%,#592451 51%,#b3628d 55%,#f0e5ee 59%,#b3628d 65%,#ac86a6 75%, #b3628d 100%);
  -webkit-background-clip:text;
    background-clip:text;
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255,255,255,0.4);
  position:relative;
  
  
}

.chrome:before{
  content:attr(data-text);
  text-shadow: -1px -1px 1px #2989cc,-2px -2px 1px #2989cc, -3px -3px 1px #2989cc, 1px 1px 1px #000, 0px -1px 2px #000, -1px -2px 2px #000, 0 0 5px rgba(255,255,255,1); 
  opacity:1;
  position:absolute;
  z-index:-1;
}

.shine:after{
  content:attr(data-text);
  background-image:linear-gradient(225deg,transparent 53%,white 55%,transparent 58%);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  -webkit-background-clip:text;
    background-clip:text;
  z-index:999;
  background-size: 400% 400%;
  animation:shine 10s ease infinite;
  animation-delay:var(--shine-delay,0s);
}

@keyframes shine{
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

.chrome:last-of-type .spark{
  animation-delay:-2.5s;
}

@keyframes blip {
    0% {transform: scale(0);}
    5% {transform: scale(1.2) rotate(0deg);}
    6% {transform: scale(1) rotate(0deg);}
    8% {transform: scale(1) rotate(180deg);}
    100% {transform: scale(1) rotate(180deg);}
  }




.road {
  --grid-size:90px;
  --road-color:#b0aeb3;
  position:absolute;
  bottom: -30%;
  left:0;
  margin-left: calc(50% - 200px /2 );
  width: 200px;
  height: 100%;
  background-position-y: 0px;
  background-image: repeating-linear-gradient(90deg, #dbd4e2 0%, #8e8994 2%, var(--road-color,rgb(8, 119, 119)) 2%, var(--road-color,rgba(115,59,139,1)) 98%,#a684cb 98%);
  transform:perspective(50vh) rotateX(60deg);
  z-index:-1;
}

.road:after {
  content:'';
  --grid-size:90px;
  position:absolute;  
  margin-left: calc(50% - 10px /2 );
  width: 10px;
  height: 100%;
  background-position-y: 0px;
  background-image: repeating-linear-gradient(0deg, #a684cb 0%, #a684cb 10%, transparent 10%, transparent 20%);
  animation:moving-grid 0.5s infinite linear;
}

.content {
  z-index: 1;
  display: block;
  margin: 2% 10%;
  background: hsl(0 0% 0% / .5);
  
  color: rgb(238, 236, 236);
  font-size: 22px;
  font-weight: 900;
}

/*FOG FOG FOG*/
/*FOG FOG FOG*/
/*FOG FOG FOG*/
/*courtesy https://codepen.io/braedencraig/pen/dBVKzO*/

html, body {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  background: rgba(0, 0, 0, 1);
  overflow-x: hidden; 
}

/* ---------- Fog Images ---------- */
/* ---------- Fog Images ---------- */
/* ---------- Fog Images ---------- */

#foglayer_01, #foglayer_02, #foglayer_03 {
  z-index: -2;
  height: 66%;
  position: absolute;
  width: 200%;
}
#foglayer_03 {
  z-index: -2;
  height: 100%;
  position: absolute;
  width: 200%;
}


#foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}

#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  -moz-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
}
#foglayer_02, #foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  -moz-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
}

/* ---------- Fog Animation ---------- */
/* ---------- Fog Animation ---------- */
/* ---------- Fog Animation ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/ 
#foglayer_01 .image01, #foglayer_01 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png") center center/cover no-repeat transparent;
}
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02{
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png") center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% { opacity: .4; }
  22% { opacity: .5; }
  40% { opacity: .8; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@-moz-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .8; }
  58% { opacity: .4; }
  80% { opacity: .6; }
  100% { opacity: .1; }
}
@-o-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .8; }
  58% { opacity: .4; }
  80% { opacity: .6; }
  100% { opacity: .1; }
}
@keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .8; }
  58% { opacity: .4; }
  80% { opacity: .6; }
  100% { opacity: .1; }
}
/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@-moz-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@-o-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@-moz-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@-o-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@keyframes foglayer_03_opacity {
  0% { opacity: .8; }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@-moz-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@-o-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}

@media only screen
  and (min-width: 280px)
  and (max-width: 767px) {
    #foglayer_01 .image01, #foglayer_01 .image02,
    #foglayer_02 .image01, #foglayer_02 .image02 {
      z-index: -2;
      width: 100%;
      height: 50%;
    }
  }

/* -----CONTENT----- */
/* -----CONTENT----- */
/* -----CONTENT----- */

.landing-content {
  display: inline;

  font-family: 'Ubuntu';
  font-size: 30px;
  color: white;

  text-align: center;

  width: 100%;
  position: absolute;
  margin-top: 50vh;
}

.landing-content > p {
  padding-left: 20%;
  padding-right: 20%;
}

.about-content {
  display: inline;

  font-size: 25px;
  font-family: 'Ubuntu';
  color: white;
  background: hsl(0 0% 0% / .5);
  border-radius: 35px;
  max-height: 650px;

  margin-top: 5%;
  margin-bottom: 2%;
  line-height: 1.5;
  text-align: center;
  width: 70vw;
  position: absolute;
  left: 15%;

  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none; /* Firefox */
  
}

.about-content::-webkit-scrollbar {
  display: none;
}

.about-content p {
  padding-left: 3%;
  padding-right: 3%;
}

.services-content {

  max-width: 850px;
  display: flex;
  font-size: 23px;
  font-family: 'Ubuntu';
  color: white;
  line-height: 2;
  background: hsl(0 0% 0% / .5);
  border-radius: 35px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;

  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none; /* Firefox */
  
}

.services-content::-webkit-scrollbar {
  display: none;
}

.services {
  
  padding: 2% 8% 2% 8%;
}

.service-contact {

  font-size: 30px;
  font-family: 'Ubuntu';
  color: white;
  line-height: 2;
  background: hsl(0 0% 0% / .5);
  border-radius: 35px;
  min-width: 600px;
  max-width: 650px;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}

.service-contact p {
  
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
}

.contact-form {
  width: 100%;
  height: 50%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background: hsl(0 0% 0% / .5);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  padding-top: 5px;
  width: 90%;
  height: 500px;
  margin-bottom: 5%;
  max-width: 600px;
  border-radius: 35px;
}

form h3 {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-weight: 800;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 1%;
  text-align: center;

}

form input, form textarea {
  font-size: 16px;
  color: white;
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: hsl(0 0% 0% / .9);
  border-radius: 10px;
  resize: none;

}

form button {
  padding: 10px;
  background: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 200px;
  margin: 5px auto 0;
  border-radius: 10px;
}

@media (max-width: 450px) {
  .landing-content {
    font-size: 20px;
    width: 100%;
    margin-top: 65vh;
  
  }

  .landing-content p {
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-content {
    text-align: left;
    font-size: 16px;
    width: 98%;
    line-height: 1.5;
    bottom: 3%;
    left: 1%;
  }

  .services-content {

    font-size: 16px;

    border-radius: 35px;
    margin-top: 70%;
    margin-left: 2%;
    margin-right: 2%;

    overflow-y: scroll;
    
  }

  .services {
    padding: 2% 8% 2% 8%;
  }

  .service-contact {

    font-size: 19px;
    max-width: 350px;
    min-width: 50px;
    margin-top: 3%;
  }

  .service-contact p {
    text-align: center;
  }

  .contact-form {
    margin-top: 50%;
  }

}

@media (min-width: 450px) and (max-width: 950px) {

  
  .landing-content {
    font-size:  20px;
    margin-bottom: 10%;
  }

  .about-content {
    text-align: left;
    font-size: 16px;
    width: 98%;
    line-height: 1.5;
    bottom: 3%;
    left: 1%;
  }

  .services-content {

    font-size: 16px;

    border-radius: 35px;
    margin-top: 25%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;

    max-width: 550px;
    overflow-y: scroll;
    
  }

  .services {
    margin-top: -5px;
    padding-left: 35px;
    padding-bottom: 15px;
  }

  .service-contact {

    max-width: 350px;
    min-width: 50px;
    font-size: 16px;
    margin-bottom: 2%;
    
  }

  form {
    margin-top: 25%;
    margin-bottom: 0;
    height: 280px;

  }

  form h3 {
    margin-top: 10px;
  }

  form input, form textarea {
    font-size: 16px;
    color: white;
    border: 0;
    margin: 1px 0;
    padding: 9px;
    outline: none;
    background: hsl(0 0% 0% / .9);
    border-radius: 10px;
    resize: none;

    overflow-y: scroll;
  
  }

  .contact-form {
    margin-top: -5%;
    
  }

}


/* ------NAVBAR----- */
/* ------NAVBAR----- */
/* ------NAVBAR----- */

/* accessibility */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* Primary Header */

a > span {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  font-weight: 500;
}

a > span:hover {
  font-weight: 600;
  text-decoration: underline;
}

.logo {

  margin: .5rem;
  z-index: 900;
  background-image: url('/assets/images/ArmorComputersLogo2022_NS.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 110px;
}


.primary-header {
  align-items: center;
  justify-content: space-between;
}

/* remove's hamburger menu from DOM at when not viewed on mobile*/
.mobile-nav-toggle, .mobile-nav-slide {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  padding-left: 45px;
  padding-right: 45px;
  margin: 0;

  /* background of navbar when moved to right */
  background: hsl(0 0% 0% / .5);
  border-radius: 35px 0px 0px 35px;
  
}

nav {
  margin-top: 15px;
}

.primary-navigation a {
  text-decoration: none;
}

/* blur not supported by FireFox */
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    backdrop-filter: blur(1rem);
  }
}

@media (max-width: 450px) {
  .primary-navigation {
    --gap: 3em;

    position: absolute;
    z-index: 1000;
    inset: 0 0 0 40%;

    background: hsl(0 0% 0% / .9);

    flex-direction: column;
    /* min() allows for response if device is turned sideways */
    padding: min(10vh, 12rem) 5rem;

    transform: translateX(100%);
    transition: transform 300ms ease-in-out;

  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background: url('/assets/images/whiteHam.png');
    background-size: 30px;
    background-repeat: no-repeat;
    width: 5rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 1rem;

  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url('/assets/images/Close-256.png');
    background-size: 22px;
    
  }

  .mobile-nav-slide {
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url('/assets/images/arrowDown.png'); /* changing from up => down onClick handled in main.js navSlide()*/
    background-size: 50px;
    background-repeat: no-repeat;
    width: 5rem;
    border: 0;
    aspect-ratio: 1;
    top: 90%;
    right: 2rem;

  }

  .logo {

    width:23vh;
    height:15vh;
    position:absolute;
    left:calc(50% + -25vw);
    bottom:83%;
    transform:translateX(-50%);
    }

}

/* tablet or mobile-sideways */
@media (min-width: 450px) and (max-width: 950px) {
  
  .logo {
    width: 200px;
  }
  
  .primary-navigation {
    --gap: 2em;

    padding-top: 10vh;
    padding-left: 10%;
    position: absolute;
    z-index: 1000;
    inset: 0 0 0 60%;
    background: hsl(0 0% 0% / .9);

    flex-direction: column;
   

    transform: translateX(100%);
    transition: transform 300ms ease-in-out;

  }


  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background: url('/assets/images/whiteHam.png');
    background-size: 30px;
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 1rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url('/assets/images/Close-256.png');
    background-size: 22px;
    
  }

  .mobile-nav-slide {
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url('/assets/images/arrowDown.png');
    background-size: 40px;
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    bottom: 2rem;
    right: 1rem;
    border: 0;
    aspect-ratio: 1;
   

  }
}

/* Utilities */
.flex {
  display: flex;
  gap: var(--gap, 1rem)
}